@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes typewriter {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(40px);
  }
}

.iconAnimation {
  @apply h-full;
  animation: 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite reverse none running;
  animation-name: rotate;
}
.textAnimation {
  @apply relative ml-2 text-lg;
  &:before {
    @apply absolute top-0 right-0 h-full w-[36px] bg-white;
    content: '';
    animation: typewriter steps(4) 2s infinite;
  }
}
