// Fonts
// Roboto 100, 400, 700, 900
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap');

// Raleway 100, 400, 700, 900
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap');

// Source Code Pro 400, 700
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

// topography
.default-h1 {
  font-size: 48px;
  line-height: 1;
}
.default-h2 {
  font-size: 36px;
  line-height: 1.1;
}
.default-h3 {
  font-size: 28px;
  line-height: 1.2;
}
.default-h4 {
  font-size: 22px;
  line-height: 1.25;
}
.default-h5 {
  font-size: 20px;
  line-height: 1.4;
}
.default-h6 {
  font-size: 16px;
  line-height: 1.4;
}
.default-base {
  font-size: 16px;
  line-height: 1.5;
}
.default-sm {
  font-size: 16px;
  line-height: 1.5;
}
.default-xs {
  font-size: 14px;
  line-height: 1.5;
}
@include sm {
  .default-h1 {
    font-size: 72px;
  }
  .default-h2 {
    font-size: 56px;
  }
  .default-h3 {
    font-size: 40px;
  }
  .default-h4 {
    font-size: 28px;
  }
  .default-h5 {
    font-size: 24px;
  }
  .default-h6 {
    font-size: 20px;
  }
  .default-base {
    font-size: 16px;
  }
}
@include lg {
  .default-h1 {
    font-size: 96px;
  }
  .default-h2 {
    font-size: 72px;
  }
  .default-h3 {
    font-size: 56px;
  }
  .default-h4 {
    font-size: 36px;
  }
}
@include xl {
  .default-h1 {
    font-size: 120px;
  }
  .default-h2 {
    font-size: 80px;
  }
  .default-h3 {
    font-size: 64px;
  }
  .default-h4 {
    font-size: 40px;
  }
}
